[submodule "modules/Gut"]
	path = modules/Gut
	url = https://github.com/bitwes/Gut
[submodule "modules/godot-logger"]
	path = modules/godot-logger
	url = git@github.com:Briaoeuidhtns/godot-logger.git
[submodule "ArcadiaGodot"]
	path = ArcadiaGodot
	url = git@github.com:arcadia-unity/ArcadiaGodot.git
